<div class="main container-fluid">
  <div class="row">
    <div class="head col-md-12 col-sm-12 text-center">
      <h1 class="appName">The API App </h1>
    </div>
  </div>

  <div class="row">
    <div class="wrapper col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Random Quote </h5>
          <p class="card-text">
            <app-random-quote></app-random-quote>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Random Joke</h5>
          <p class="card-text">
            <app-random-joke></app-random-joke>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Do Something Random</h5>
          <p class="card-text">
            <app-random-task></app-random-task>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="wrapper col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Random Api </h5>
          <p class="card-text">
            <app-random-apis></app-random-apis>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>